In [ ]:
import pandas as pd
import numpy as np
#import warnings
#warnings.filterwarnings('ignore')
%config InlineBackend.figure_format = 'retina'
%config Completer.use_jedi = False # this to force autocompletion

In [ ]:
df = pd.read_csv('Labelled_Data.csv')
df = df.reset_index(drop=True)
df = df[df['Data'].notna()]
df

       Unnamed: 0                             Data Label
0               1          $candidates.candidateId   NaN
1               2            $candidates.workspace    JP
2               3                $candidates.teaId   NaN
3               4                $candidates.title   NaN
4               5            $candidates.firstName  FINA
...           ...                              ...   ...
18387       18388        $paymentMethods.check.zip    PC
18388       18389  $paymentMethods.check.countryId    CC
18389       18390                              $hp   NaN
18390       18391                     $subDistrict  CITY
18391       18392                    $urbanVillage   NaN

[18390 rows x 3 columns]

In [ ]:
#Splitting the word with the upper case

newCol=[]
for i in df["Data"]:
    temp=i
    n=len(temp)
    j=0
    while j<n:
        if ord(temp[j])<=90 and ord(temp[j])>=65:
            temp=temp[:j]+" "+temp[j:]
            n+=1
            j+=1
        j+=1
    newCol.append(temp)

In [ ]:
#Camel case separated dataframe can be given as
df["Separated"]=newCol

In [ ]:
df

,Unnamed: 0,Data,Label,Separated
0,1,$candidates.candidateId,NaN,$candidates.candidate Id
1,2,$candidates.workspace,JP,$candidates.workspace
2,3,$candidates.teaId,NaN,$candidates.tea Id
3,4,$candidates.title,NaN,$candidates.title
4,5,$candidates.firstName,FINA,$candidates.first Name
...,...,...,...,...
18387,18388,$paymentMethods.check.zip,PC,$payment Methods.check.zip
18388,18389,$paymentMethods.check.countryId,CC,$payment Methods.check.country Id
18389,18390,$hp,NaN,$hp
18390,18391,$subDistrict,CITY,$sub District
18391,18392,$urbanVillage,NaN,$urban Village

In [ ]:
###Text Preprocessing

#Convert the data type of the column to string
df["Separated"]=df["Separated"].astype('string')

#Replace $ with blank
df["Separated"]=df["Separated"].str.replace("$","")

#Replace the space with .
df["Separated"]=df["Separated"].str.replace(" ",".")

#Convert the whole text into lower case
df['Separated']=df['Separated'].str.lower()

#Split the data into different words
df["Text_Split"]= df["Separated"].str.split(".")

#Label the classes to 0 and 1

df['Label'] = df['Label'].fillna(0)
df.loc[df['Label'] != 0, 'Label'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

In [ ]:
df['Text_Split']=df['Text_Split'].astype('string')

In [ ]:
df.iloc[:,4]=df.iloc[:,4].str.replace("[","")
df.iloc[:,4]=df.iloc[:,4].str.replace("]","")
df.iloc[:,4]=df.iloc[:,4].str.replace(",","")
df.iloc[:,4]=df.iloc[:,4].str.replace("'","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
df

,Unnamed: 0,Data,Label,Separated,Text_Split
0,1,$candidates.candidateId,0,candidates.candidate.id,candidates candidate id
1,2,$candidates.workspace,1,candidates.workspace,candidates workspace
2,3,$candidates.teaId,0,candidates.tea.id,candidates tea id
3,4,$candidates.title,0,candidates.title,candidates title
4,5,$candidates.firstName,1,candidates.first.name,candidates first name
...,...,...,...,...,...
18387,18388,$paymentMethods.check.zip,1,payment.methods.check.zip,payment methods check zip
18388,18389,$paymentMethods.check.countryId,1,payment.methods.check.country.id,payment methods check country id
18389,18390,$hp,0,hp,hp
18390,18391,$subDistrict,1,sub.district,sub district
18391,18392,$urbanVillage,0,urban.village,urban village

In [ ]:
ddf=df.assign(New_Text_Split=df.Text_Split.str.split(" ")).explode('Text_Split')

In [ ]:
ddf

,Unnamed: 0,Data,Label,Separated,Text_Split,New_Text_Split
0,1,$candidates.candidateId,0,candidates.candidate.id,candidates candidate id,"[candidates, candidate, id]"
1,2,$candidates.workspace,1,candidates.workspace,candidates workspace,"[candidates, workspace]"
2,3,$candidates.teaId,0,candidates.tea.id,candidates tea id,"[candidates, tea, id]"
3,4,$candidates.title,0,candidates.title,candidates title,"[candidates, title]"
4,5,$candidates.firstName,1,candidates.first.name,candidates first name,"[candidates, first, name]"
...,...,...,...,...,...,...
18387,18388,$paymentMethods.check.zip,1,payment.methods.check.zip,payment methods check zip,"[payment, methods, check, zip]"
18388,18389,$paymentMethods.check.countryId,1,payment.methods.check.country.id,payment methods check country id,"[payment, methods, check, country, id]"
18389,18390,$hp,0,hp,hp,[hp]
18390,18391,$subDistrict,1,sub.district,sub district,"[sub, district]"
18391,18392,$urbanVillage,0,urban.village,urban village,"[urban, village]"

In [ ]:
fdf=ddf.assign(Split=ddf.Text_Split.str.split(",")).explode('New_Text_Split')

In [ ]:
fdf

,Unnamed: 0,Data,Label,Separated,Text_Split,New_Text_Split,Split
0,1,$candidates.candidateId,0,candidates.candidate.id,candidates candidate id,candidates,[candidates candidate id]
0,1,$candidates.candidateId,0,candidates.candidate.id,candidates candidate id,candidate,[candidates candidate id]
0,1,$candidates.candidateId,0,candidates.candidate.id,candidates candidate id,id,[candidates candidate id]
1,2,$candidates.workspace,1,candidates.workspace,candidates workspace,candidates,[candidates workspace]
1,2,$candidates.workspace,1,candidates.workspace,candidates workspace,workspace,[candidates workspace]
...,...,...,...,...,...,...,...
18389,18390,$hp,0,hp,hp,hp,[hp]
18390,18391,$subDistrict,1,sub.district,sub district,sub,[sub district]
18390,18391,$subDistrict,1,sub.district,sub district,district,[sub district]
18391,18392,$urbanVillage,0,urban.village,urban village,urban,[urban village]
18391,18392,$urbanVillage,0,urban.village,urban village,village,[urban village]

In [ ]:
temp=[]
temp=fdf['New_Text_Split']

In [ ]:
myset=set(temp)
len(myset)

5050

In [ ]:
def json_extract(obj, array_count=True):
    """
    inputs a json dictionary
    returns json paths
    """
    out = {}

    def flatten(x, name=''):
        if isinstance(x, dict):
            for a in x:
                flatten(x[a], name + a + '.')
        elif isinstance(x, list):
            if array_count:
                for i, a in enumerate(x):
                    flatten(a, name[:-1] + str([i]) + '.')
            else:
                for a in x:
                    flatten(a, name[:-1] + '[*]' + '.')
        else:
            out[name[:-1]] = x

    flatten(obj)
    return list(out.keys())

In [ ]:
obj= {"employe":[
             {"name": "a",
              "id": "123"
             },
             {"name":"b",
              "id":"345"
             }]
    
    }

In [ ]:
obj= {"employe":[
             {"first": [{"name":"Kumar"}],
              "personalId": "123",
              "age":"29"
             },
             {"last":[{"name":"patel"}],
              "dept_id":"345"
             }]
    
    }

In [ ]:
kaam=json_extract(obj)

In [ ]:
kaam

['employe[0].first[0].name',
 'employe[0].personalId',
 'employe[0].age',
 'employe[1].last[0].name',
 'employe[1].dept_id']

In [ ]:
import re

emp_list=[]

def processString4(kaam):
    for i in range(len(kaam)):
        txt=kaam[i]
        txt, n = re.subn('[0-9]', '', txt)
        txt = txt.replace("[" ,"")
        txt = txt.replace("]" ,"")
        emp_list.append(txt)
        print(txt)
  
processString4(kaam)

employe.first.name
employe.personalId
employe.age
employe.last.name
employe.dept_id

In [ ]:
emp_list

['employe.first.name',
 'employe.personalId',
 'employe.age',
 'employe.last.name',
 'employe.dept_id']

In [ ]:
#funtion for splitting the words with the camel case.

import re

name = 'candi.firstt.nam'
#name = emp_list[3]

splitted = re.sub('([A-Z][a-z]+)', r' \1', re.sub('([A-Z]+)', r' \1', name)).split()
splitted

['candi.firstt.nam']

In [ ]:
def listToString(s):
   
    # initialize an empty string
    str1 = " "
   
    # return string 
    return (str1.join(s))

new=listToString(splitted)
new=new.replace("."," ")
new=new.split(".")
#####
new=listToString(new)
new=new.replace(" ",".")
new

'candi.firstt.nam'

In [ ]:
#for Bert tokeniser
new=new.replace("."," ")
new

'candi firstt nam'

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#program for splitting the words in a list
from nltk.tokenize import word_tokenize
word_list=word_tokenize(new)

In [ ]:
word_list

['candi', 'firstt', 'nam']

In [ ]:
test=word_list

In [ ]:
ct=0
for i in word_list:
  
  if i not in myset:
     print("'",i,"'"," string is not present in the database")
     a=process.extract(i, myset)
     print("The nearest phonetic matches are: ")
     print(a)
     b=difflib.get_close_matches(i, myset)
     print("The nearest spelling matches are: ")
     print(b)
     word = input("Enter the word to be replaced: ")
     test[ct]=word
     print("The modified word list :",test)
  ct=ct+1
test_json=' '.join(test)
print("String to be input to the model: ",test_json)

' candi '  string is not present in the database
The nearest phonetic matches are:
[('candidates', 90), ('can', 90), ('and', 90), ('an', 90), ('candidate', 90)]
The nearest spelling matches are:
['can', 'and', 'candidate']
Enter the word to be replaced: candidate
The modified word list : ['candidate', 'firstt', 'nam']
' firstt '  string is not present in the database
The nearest phonetic matches are:
[('first', 91), ('s', 90), ('r', 90), ('f', 90), ('t', 90)]
The nearest spelling matches are:
['first', 'firms', 'firstame']
Enter the word to be replaced: first
The modified word list : ['candidate', 'first', 'nam']
String to be input to the model:  candidate first nam

In [ ]:
#join the words in the list
test_json=' '.join(test)
print(test_json)

candidate first nam

In [ ]:
import difflib
difflib.get_close_matches('teh', myset)

['ten', 'tea', 'ste']

In [ ]:
difflib.get_close_matches('teh', ['the', 'they', 'thee'])

['the']

In [ ]:
#Phonetic Matching
!pip3 install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
process.extract('pers', myset)

[('last_updated_by_person_id', 90),
 ('persons', 90),
 ('working_key_persisted', 90),
 ('superseding_space_booking_id', 90),
 ('on_behalf_of_person_id', 90)]

In [ ]:
print ("Best among the above list: ",process.extractOne('employable', myset))

In [ ]:
from transformers import BertTokenizer
tz = BertTokenizer.from_pretrained("bert-base-cased")

In [ ]:
def bert_transform(sent):
    encoded = tz.encode_plus(
    text=sent,  # the sentence to be encoded
    add_special_tokens=True,  # Add [CLS] and [SEP]
    max_length = 64,  # maximum length of a sentence
    pad_to_max_length=True,  # Add [PAD]s
    return_attention_mask = True,  # Generate the attention mask
    return_tensors = 'pt',  # ask the function to return PyTorch tensors
    )
    input_ids = encoded['input_ids']
    return input_ids

In [ ]:
PRE_TRAINED_MODEL_NAME = 'bert-base-cased'
tokenizer = BertTokenizer.from_pretrained(PRE_TRAINED_MODEL_NAME)
sample_txt = 'demon appears in the crossroads'

tokens = tokenizer.tokenize(sample_txt)
token_ids = tokenizer.convert_tokens_to_ids(tokens)
print(f' Sentence: {sample_txt}')
print(f'   Tokens: {tokens}')
print(f'Token IDs: {token_ids}')

In [ ]:
print(bert_transform('demon appears in the crossroads'))

In [ ]:
tz.tokenize('demon appears in the crossroads')

In [ ]:
var=bert_transform('The demon appears in the crossroads')
var=var.tolist()
var